{% extends 'game/base.html' %}
{% load static %}

{% block content %}



<!-- Questions -->
<div class="questions">
    {% for question in questions %}
        
        <div class="center-content active-question">

            <!-- Page-numbers -->
            <div class="card">
                <div class="card-body">{{ question.question_text }}</div>
            </div>

            <!-- Question-boxes -->
            <div class="btn-group-vertical btn-group-lg categories answers">

                {% for answer in question.answers %}
                    <button onclick="showAnswer({{ forloop.counter0 }})" type="button" class="btn {% if answer.is_correct %}correct{% endif %}">{{ answer.text }}</button>
                {% endfor %}

            </div>

            <!-- Response on clicking an answer. -->
            <div class="alert alert-primary answer-text" role="alert">
                Hei!
            </div>

        </div>
    {% endfor %}
</div>

<!-- Numbering of questions -->
<nav class="fixed-bottom btn-group btn-group-lg question-numbers">
    {% for question in questions %}
        <button onclick="switchQuestion({{ forloop.counter0 }})" class="page-item btn btn-light {% if forloop.first %}active{% endif %}">{{ forloop.counter }}</button>
    {% endfor %}
</nav>

<!-- Script that makes you able to switch between questions -->
<script src="{% static 'game/questions_scripts.js' %}"></script>
{% endblock content %}